/*---------- CSS Variables  ----------*/
:root {
  /* COLOR PALETTE */
  --dark-green: #3c8453;
  --sandy-beige: #bcaa96;
  --dark-gray: #222222;
  --light-gray: #d3d4d6;
  --off-white: #f6f6f6;
}
/*---------- GLOBAL STYLES ----------*/
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* We are using the 62.5% method this will set the default to 10px, 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: var(--off-white);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem; 
  line-height: 1.4; 
}

h1,
h2,
h3 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 7rem; 
  line-height: 0.85; 
}

h2 {
  font-size: 3.6rem; 
}

h3 {
  font-size: 2.4rem; 
}

header p {
  margin: 0;
}

/* link styles */
a {
  color: var(--dark-green);
}

a:hover {
  color: var(--sandy-beige);
  text-decoration: none;
}

footer a {
  color: var(--sandy-beige);
}

footer a:hover {
  color: var(--dark-green);
}

/* button styles */
.btn {
  background: var(--dark-green);
  color: var(--off-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  padding: 7px;
  letter-spacing: 0.1em;
  line-height: 1;
  border-radius: 4px;
}
.header-wrapper {
  margin: 0 auto;
  padding: 30px 30px 0px;
  max-width: 900px;
}
.content-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
}

/*---------- HOME ----------*/
.home {
  background: url(../images/background/bg-home-office-studio.jpg) no-repeat;
  background-size: cover; 
  display: flex;
  flex-direction: column;
}

.home .content-wrapper {
  flex: 1 0 auto; 
}

.content-bg {
  background: rgb(255 255 255 / 0.9);
  padding: 30px;
}
/*---------- RESUME ----------*/
.body-wrapper header::before {
  background: url(../images/background/bg-home-office-studio.jpg) center;
  background-size: cover;
  content: ""; 
  display: block;
  height: 375px;
}

.resume-section {
  margin-bottom: 50px;
}

.resume-section h2 {
  border-bottom: 2px dashed var(--light-gray);
}

.download-link {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 1.5rem;
}

/* Profile */
/* At this point there is no profile specific styling */

/* Projects */
.project-item {
  margin: 30px 0;
}

.project-details img {
  width: 300px;
}

/* Work Experience */
.work-item {
  margin: 30px 0;
}

.work-details p {
  margin: 0;
}

/* Education */

.education-item p {
  margin: 0;
}

/*---------- RESUME ----------*/
.design-h1 {
  margin-top: 50px;
}
.design-section {
  margin-bottom: 50px;
}

.design-section h2 {
  border-bottom: 2px dashed var(--light-gray);
}

/* Photoshop Designs */
.carousel {
  list-style-type: none; /*Remove Bullet Style*/
  width: 100%;
  display: flex;
  overflow-x: auto; 
  padding: 30px;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth; 
  scroll-marker-group: after;
  anchor-name: --carousel; 
}

.carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}
.carousel li::scroll-marker {
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  background-color: var(--light-gray);
  border: 2px solid var(--dark-gray);
  border-radius: 50%;
}

.carousel li::scroll-marker:target-current {
  background-color: var(--dark-green);
}

.carousel::scroll-button(*) {
  border: none;
  background-color: var(--dark-green);
  font-size: 3rem;
  color: var(--off-white);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
}

.carousel::scroll-button(left) {
  content: "←" / "Previous";
  position-area: left center;
}

.carousel::scroll-button(right) {
  content: "→" / "Next";
  position-area: right center;
}

.carousel::scroll-button(*):hover,
.carousel::scroll-button(*):focus {
  opacity: 0.8;
}

.carousel::scroll-button(*):active {
  translate: 2px 2px;
}

.carousel::scroll-button(*):disabled {
  opacity: 0.5;
  cursor: auto;
}

.carousel li {
  scroll-snap-align: center; 
  flex: 0 0 100%;
  margin-right: 50px;
}
.carousel img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*---------- FOOTER ----------*/
footer {
  background: var(--dark-gray);
  color: var(--light-gray);
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline-block;
  margin-left: 10px;
}

.socials img {
  width: 32px;
}

.socials img:hover {
  opacity: 0.5;
}

/*---------- MEDIA QUERIES ----------*/
@media screen and (max-width: 500px) {
  /*---------- RESUME ----------*/
  .body-wrapper header::before {
    height: 200px;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  /* Projects */
  .project-details img {
    width: 100%; 
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 649px) {
  /*---------- HOME ----------*/
  .home .content-wrapper {
    padding: 10px;
  }

  .content-bg {
    padding: 20px;
  }
}

@media screen and (min-width: 650px) and (max-width: 859px) {
  /* Projects */
  .project-wrapper {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  }

  .project-details img {
    width: 100%; 
  }
}

@media screen and (max-width: 859px) {
  /*---------- RESUME ----------*/
  /* Education */
  .education-details {
    margin: 30px 0;
  }

  /*---------- FOOTER ----------*/
  footer {
    text-align: center;
    padding: 10px;
  }
}

@media screen and (min-width: 860px) {
  /*---------- RESUME ----------*/
  /* Projects */
  .project-item {
    display: grid;
    grid-template-columns: 300px 1fr; 
    column-gap: 20px;
  }

  /* Work Experience */
  .work-item {
    display: grid; 
    grid-template-columns: 300px 1fr; 
    column-gap: 20px;
  }

  .work-summary p:first-child {
    margin-top: 0;
  }

  /* Education */
  .education-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 20px;
  }

  /*---------- FOOTER ----------*/
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 1200px) {
  .download-link {
    position: absolute;
  }
}
